@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

p,label,a,button,li,span,table,input{
    font-family: 'Merriweather', serif;
    font-size: 14px!important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif;
}
.dropify-wrapper{
    height: unset!important;
}
.dropify-wrapper .dropify-message p {
    font-size: 15px!important;
}
.dropify-wrapper {
    line-height: 14px!important;
}
.form-errors{
    position: absolute;
    top: 100%;
    font-weight: bold;
    color: red!important;
    font-size: 11px;
    left: 10px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: -15px!important;
}
.select2-container--default .select2-selection--single {
    padding: 17px!important;
    border-radius: 0!important;
}
.form-control,
.input-group-text{
    border-radius: 0!important;
}
.form-control:focus{
    border: 1px solid #000!important;
}
.modal-content {
    border-radius: 0;
}
button{
    border-radius: 0!important;
}
p{
    margin-bottom: 5px;
}
.dropdown-menu.show{
    padding: 0!important;
    border-radius: 0!important;
}
.dropdown-menu.show a{
    padding: 10px!important;
}
label{
    margin-bottom: 0;
}
select:focus{
    border: 1px solid #000!important;;
}
div.dataTables_wrapper div.dataTables_processing {
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    width: 15%!important;
    text-align: center!important;
    background: rgb(212 214 216 / 80%)!important;
    z-index: 2!important;
    padding-bottom: 50px!important;
    transform: translate(-50%,-50%)
}
.card{
    border-radius: 0!important;
}

.require-span{
    color: red;
    margin-left: 5px;
}

.hr-dot{

    border: none;
    border-top: 1px dotted rgb(0, 0, 0);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 50%;
}

.balance-card{
    height: 120px;
    width: 100%;
    font-size: 15px;
    font-family: 'Bree Serif';
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-left: 5px solid #28a745;
    text-align: center;
}

